//Main CSS 
     
//Fonts
$ubuntu: 'Ubuntu', sans-serif;
$playFair: 'Playfair Display', serif;
$lato: 'Lato', sans-serif;


// Paleta de Cores da Página 
$darkBG:#222222;
$lightBG: #ffffff;
$fontDefault: #242424;
$fontBlack: #121212;
$fontLight: #969696;
$fontGold: #D39850;
$purpleButton: #951A91;
$greenButton: #0BBBA8;

body {
    background-color:$darkBG;
    font-family: $ubuntu;
    font-size: 13px;
    color:$fontDefault;
}

.container-fluid, .navbar{
    background-color: $lightBG !important;
}

.container-fluid{
    margin-top:10px;
}

.nav-link{
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color:$fontBlack !important;
    font-size:11px !important;
    margin-left:35px;
}

.first{
    margin-left:0px !important;
}

.nav-link i{
    padding-right: 5px;
}

.logo{
    padding: 70px 0 70px 0;
}

.breadcrumb{
    background-color: $lightBG;
    color:$fontBlack !important;
    font-size:11px !important;
}

    .breadcrumb .first-item::before{
        content: none !important;
    }

    .breadcrumb-item a{
        color: $fontBlack;
    }

    .breadcrumb-item::before {
        content: url(../img/breadcrumbs-arrow.png) !important;
    }

.thumbs img{
    margin-left:13px;
    margin-top:10px;
    cursor: pointer;
    border-bottom:5px solid white;
}

.thumbs img:hover{
    border-bottom:5px solid $fontDefault;
}

small{
    color: $fontLight;
}

.social-media-icons{
    margin-top:20px;
}

.pinterest-icon, .twitter-icon{
    margin-left:30px;
}

.product-details{
    margin-top:30px;
}

    .product-details h1{
        font-family: $playFair;
        font-size: 42px;
    }

    .price{
        color:$fontGold;
        font-weight: 300;
        font-family: $lato;
        font-size: 36px;
    }

    .old-price{
        color:$fontLight;
        font-weight: 400;
        font-family: $ubuntu;
        font-size: 18px;
        text-decoration: line-through;
    }

    .product-details p{
        font-family: $ubuntu;
        font-size: 13px;
        color: $fontLight;
    }

    .product-details .form-group{
        margin-left:-15px;
    }

    .product-details label{
        text-transform: uppercase;
        letter-spacing: 0.1em;
        color:$fontBlack !important;
        font-size:11px !important;
    }

    .product-details select{
        letter-spacing: 0.1em;
        color:$fontBlack !important;
        font-size:12px !important;
    }

    .add-to-cart{
        background-color: $purpleButton;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        color:white !important;
        font-size:13px !important;
        border-radius:0px;
        width: 250px;
        height:50px;
    }

    .add-to-wishlist, .add-to-wishlist:hover{
        margin-left:30px;
        color:$fontDefault;
        text-decoration:none;
        font-size: 14px;
        cursor: pointer;
        border:none;
        background-color: white;
    }

        .add-to-wishlist img{
            margin-right:7px;
        }

    #wishlist{
        margin-top:15px;
    }

        #wishlist p{
            color: $purpleButton;
            font-style: oblique;
        }

.product-description p{
    margin-top:20px;
    font-size:14px;
    line-height:21px;
}

.product-description ul{
    margin-left:-20px;
}

.product-description li{
    color:$fontLight;
    padding-left:15px;
    font-size:14px;
}

.btn-shipping-calc{
    color: $greenButton;
    background-color:white !important;
    font-size:13px !important;
    border:0px;
}

.shipping-results li{
    color: $fontBlack;
    list-style-type: none;
    margin-left:-55px;
}

.similar-products-title h1{
    color:$fontBlack;
    text-transform: uppercase;
    font-family: $ubuntu;
    font-size: 18px;
    letter-spacing: 0.1em;
    padding:40px 0 30px 0;
    background-image: url(../img/bg-title.png);
    background-position:center bottom;
    background-repeat: no-repeat;
}

.similar-products{
    margin-top:45px;
    padding-bottom:80px;
}

    .similar-products a{
        color: $fontBlack;
        text-decoration: none;
    }

    .similar-products h2{
        font-family: $playFair;
        font-size: 20px;
        min-height:50px;
        margin-top:10px;
    }

    .similar-products h3{
        font-family: $lato;
        font-weight: 300;
        font-size: 18px;
        color: $fontGold;
    }

    .similar-products .badge{
        font-family: $ubuntu;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        position: absolute;
        border-radius: 0px;
        width: 75px;
        height:21px;
        margin-top:15px;
        font-size: 13px;
        font-weight:bold;
        right:15px;
    }

.footer{
    background-color: $darkBG;
    border-top:5px solid $greenButton;
    padding-bottom:40px;
}

    .footer h2{
        color:#ffffff;
        font-family: $lato;
        text-transform: uppercase;
        font-size: 18px;
        line-height:36px;
        margin-top:40px;
    }

    .footer li{
        list-style-type: none;
        margin-left:-40px;
    }

    .footer a{
        color:$fontLight;
        font-size: 14px;
        line-height:28px;
    }

    .footer p{
        margin-top:15px;
        color:$fontLight;
        font-size: 11px;
        line-height:15px;
    }

    .footer input{
        border-radius:0px;
        border:none;
        background-color: #404040;
        color: $fontLight;
        font-size: 13px;
    }

    .footer button{
        border-radius:0px;
        text-transform: uppercase;
        background-color: $darkBG;
        color: white;
        border:1px solid white;
        font-size: 13px;
        margin-top:10px;
    }

.footer-text{
    margin-top:30px;
}

.flags{
    margin-top:30px;
}